#
# GitHub
#
.github

#
# Visual Studio Code
#
.vscode

#
# Node Modules
#
node_modules

#
# Tests
#
test

#
# Babel
#
.babelrc

#
# ESLint
#
.eslintcache
.eslintignore
.eslintrc.js

#
# Prettier
#
.prettierrc.js

#
# Docs
#
*.md

#
# WebPack
#
webpack.config.js
